<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.set.defaults.app.flutter_set_defaults_app">
  <application>
    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.flutter_set_defaults_app.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/flutter_set_defaults_app_paths" />
    </provider>
  </application>
</manifest>
